.BreadBottom {
  height: 13%;
  width: 80%;
  background: url("../../../assets/images/bread.jfif");
  box-shadow: inset -15px 0 url("../../../assets/images/bread.jfif");
  margin: 2% auto;
}

.BreadTop {
  height: 20%;
  width: 80%;
  background: url("../../../assets/images/bread.jfif");
  box-shadow: inset -15px 0 url("../../../assets/images/bread.jfif");
  margin: 2% auto;
  position: relative;
}

.Meat {
  width: 80%;
  height: 3%;
  background: url("../../../assets/images/tamato.jpg");
  margin: 2% auto;
}

.Cheese {
  width: 90%;
  height: 4.5%;
  margin: 2% auto;
  background: url("../../../assets/images/cheese.jpg");
}

.Salad {
  width: 85%;
  height: 3%;
  margin: 2% auto;
  background: url("../../../assets/images/salad.jpg");
}

.Bacon {
  width: 80%;
  height: 3%;
  background: url("../../../assets/images/tofu.jpg");
  margin: 2% auto;
}
